{% extends 'klooni_pages/base.html'%}

{% block content %}


<div class='container'>
    {% include 'navbar.html' %}
<hr>

<div class='row justify-content-center top-buffer'>

{% for item in images %}

<div class='col-xs-7 col-sm-7 col-md-7 col-lg-7 d-block'>

<div class='d-inline-flex'>
{% for prof in  profile %}
<div class='d-flex justify-content-start align-items-center'>
<div class="userAvatar mr-2"> <img class='img-thumbnail' src="{{prof.prof_pic}}" alt='userAvatar'></div>
<div> {{ prof.user.username}} </div>
{% endfor %}
</div>
</div>

<hr>

<div class='d-flex justify-content-center'>
<img src="{{item.image}}" alt='image'>
</div> 
<hr>
<div>
<p> {{item.name}} </p>
<p> {{ item.caption }} </p>
<p> {{item.likes}} likes </p>
<p class='blueUnderline'>Comments</p>
<div> {{item.comments}} </div>
</div>
<hr>
<div>
insert post comment FORM  here
</div>

{% empty %}
  <div class="row">
    <h2 class="text-center">No photos or videos posted yet <a href='/'> How about you post some... </a></h2>
  </div>

</div>
{% endfor %}

</div>
{% for prof in  profile %}
<div class='col-xs-3 col-sm-3 col-md-3 col-lg-3 d-flex justify-content-center'>
<div class='align-items-start'>
<div class="userAvatar mr-2"> <img class='img-thumbnail' src="{{prof.prof_pic}}" alt='userAvatar'></div>
<div class='text-center'> <strong> {{ prof.user.username}} </strong> </div>
</div>
</div>
{% endfor %}
</div>

{% endblock %}