{% extends 'klooni_pages/base.html'%}
{% load bootstrap4 %}


{% block content %}

<!-- Homepage replica -->

<div class='container'>
    {% include 'navbar.html' %}
<hr>



<!-- search results -->

{% comment %} <div class="container-fluid searchPage"> {% endcomment %}

  <div class="row searchResults">
    {% if searched_users %}
      <h2>Found {{ searched_users|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 users for the search term {{message}}</h2>
    {% endif %}

  </div>

  {% comment %} <div class="row">

    {% for image in searched_users %}
      <div class="col-sm-6 col-md-3">
          <h1>{{image.user }}</h1>
      </div>
    {% endfor %}
  </div> {% endcomment %}
{% comment %} </div> {% endcomment %}

<!-- end of search results -->


<div class='row justify-content-center top-buffer'>
{% for photo in photos %}

<div class='col-xs-7 col-sm-7 col-md-7 col-lg-7 d-block top-buffer'> 


<div class='d-inline-flex'>
<div class="userAvatar mr-2"> <img class='img-thumbnail' src="{{photo.user.prof_pic.cdn_url}}" alt='userAvatar'></div>

<div class='text-center align-self-center'> <strong> {{ photo.user.user.username}} </strong> </div>
</div>


<div class='d-flex justify-content-center'>
<img class='img-responsive imagePost' src="{{photo.image.cdn_url}}" alt='image'>
</div>

<p> {{photo.name}} </p>
<p> {{ photo.caption }} </p>
<p><i class="fa fa-heart-o"></i><br>
{{photo.likes}} likes </p>
<p class='blueUnderline'>Comments</p>
<div> {{photo.comments}} </div>
<hr>
<div>

    <form  action="{% url 'comments' image_id=item.id %}" method="post">

    {% csrf_token %}

    {% bootstrap_form commentForm layout='inline' %}

    <div class="form-group">

 

    <input type="submit" class="btn btn-primary btn-sm my-2" value="Post Comment">
    </div>
   </form>
</div>

<hr>
</div>
{% endfor %}

</div>
</div>

{% endblock %}